<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Petar 'Peschu' Kanev's blog on economics, programming and music.">
    @{
        var keywords = "Economics,Programming,Music,Blog,Tutorials,Peschu,Petar Kanev";
        string meta = (ViewData["Meta"] ?? string.Empty) as string;
        if (!string.IsNullOrEmpty(meta))
        {
            keywords = $"{keywords},{meta}";
        }
    }
    <meta name="keywords" content="@keywords">
    <meta name="author" content="Petar Kanev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Peschu's Corner</title>
    <link rel=icon href="~/favicon32.png" sizes="16x16 32x32" type="image/png">
    <link rel=icon href="~/favicon196.png" sizes="196x196" type="image/png">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js"></script>
    </environment>
</head>
<body>
    <nav class="navbar navbar-fixed-top">     
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/images/logo.png" alt="logo"/>
                    <img class="corner-title" src="~/images/logo-title.png" alt="Peschu's Corner" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    <li><a asp-area="" asp-controller="@Subject.Economics" asp-action="Index"><span class="glyphicon glyphicon-star"></span><span>&nbsp;</span><span>@Subject.Economics</span></a></li>
                    <li><a asp-area="" asp-controller="@Subject.Music" asp-action="Index"><span class="glyphicon glyphicon-star"></span><span>&nbsp;</span><span>@Subject.Music</span></a></li>
                    <li><a asp-area="" asp-controller="@Subject.Programming" asp-action="Index"><span class="glyphicon glyphicon-star"></span><span>&nbsp;</span><span>@Subject.Programming</span></a></li>
                    @await Html.PartialAsync("_AdminLinkPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9 render-body">
                @RenderBody()
            </div>
            <aside class="col-md-3 tags-component">
                @await Component.InvokeAsync("TagList")
            </aside>
        </div>
        <footer class="footer">            
            <div class="footer-contents">
                <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                &nbsp;
                <a href="https://github.com/pkanev" target="_blank">GitHub</a>
                &nbsp;
                <a href="https://www.linkedin.com/in/petar-kanev-9aa8a640/" target="_blank">LinkedIn</a>
                &nbsp;
                <a href="https://www.youtube.com/channel/UCKl1E_Vqko2g1IpGDS1BnYA" target="_blank">YouTube</a>
                &nbsp;
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                <p>&copy; @DateTime.UtcNow.Year - Peschu's Corner</p>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
